@model Daulatpride.Domain.Entities.Widgets

@{
    ViewBag.Title = "DashBoard";
}
<div class="content-page c-payment-block rtl-pages">
    <div class="container">

        <!-- ===== NOTICE ===== -->
        <div class="alert alert-info alert-dismissible">
            Welcome To Company name - Crypto Waves, Richer Days
        </div>

        <h4 class="mb-3">Welcome To Dashboard</h4>

        <!-- ===== TOP CARDS ===== -->
        <div class="row">

            <div class="col-md-3">
                <div class="card text-center p-4">
                    <h5>Income Name</h5>
                    <p>USDT</p>
                    <h6>0.00</h6>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center p-4">
                    <h5>Income Name</h5>
                    <p>USDT</p>
                    <h6 class="text-info">0.00</h6>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center p-4">
                    <h5>Income Name</h5>
                    <p>USDT</p>
                    <h6 class="text-danger">0.00</h6>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center p-4">
                    <h5>Income Name</h5>
                    <p>USDT</p>
                    <h6 class="text-danger">0.00</h6>
                </div>
            </div>

        </div>

        <!-- ===== COLORED INCOME ===== -->
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card bg-primary text-white p-3">
                    Reward Income<br /><b>$0.000</b>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-info text-white p-3">
                    Direct Income<br /><b>$0.00</b>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-danger text-white p-3">
                    Hyper Binary<br /><b>$0.00</b>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-dark text-white p-3">
                    Income<br /><b>0.00 </b>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-dark text-white p-3">
                    Royalty Bonus<br /><b>0.000</b>
                </div>
            </div>
              <div class="col-md-3">
                <div class="card bg-dark text-white p-3">
                    Direct Business(USDT<br /><b>0.00</b>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-dark text-white p-3">
                    Direct Business(Hub)<br /><b>0.00</b>
                </div>
            </div>
        </div>

        <!-- ===== REFERRAL ===== -->
        <div class="card mt-4 p-3">
            <h5>Referral Link</h5>
            <input type="text" class="form-control" value="https://example.com/ref123" />
        </div>
        <hr>
        <div class="row">

            <div class="col-lg-6 col-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="bg-info">
                            <th>Heading</th>
                            <th>Heading</th>
                            <th>Heading</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                        </tr>
                        <tr>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                        </tr>
                        <tr>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6 col-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="bg-info">
                            <th>Heading</th>
                            <th>Heading</th>
                            <th>Heading</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                        </tr>
                        <tr>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                        </tr>
                        <tr>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                            <td>Sample Text</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>
    </div>
</div>